/* ============= VARIABLES ============= */
:root {
  --primary-color: #4d5ae5;
  --accent-color: #404bbf;
  --dark: #2e2f42;
  --text-color: #434455;
  --light-color: #f4f4fd;
  --white: #ffffff;
  --color-icon: #8e8f99;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
  margin-bottom: 72px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============= /COMMON STYLES ============= */

/* ============= HEADER ============= */

.page-header {
  background: var(--white);
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 76px;
}

.logo-color {
  color: var(--dark);
  transition: color var(--transition-dur-and-func);
}

.logo-color:hover,
.logo-color:focus {
  color: var(--accent-color);
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark);
  position: relative;
  transition: color var(--transition-dur-and-func);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: -1px;
}

.contacts {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color var(--transition-dur-and-func);
}

/* ============= /HEADER ============= */

/* ============= HERO ================= */

.hero {
  max-width: 1440px;
  background: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: var(--white);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--white);
  background-color: var(--primary-color);
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color var(--transition-dur-and-func);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

/* ============= /HERO ================= */

/* ============= BENEFIT================ */

.benefit-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--dark);
}

.benefit-list {
  display: flex;
  gap: 24px;
}

.benefit-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  /* padding: 24px 100px; */
  background-color: var(--light-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefit-title {
  margin-bottom: 8px;
}

.benefit-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ============= /BENEFIT================ */

/* ============= DIRECTION ============== */

.directions {
  padding-top: 0;
}

.directions-list {
  display: flex;
  gap: 24px;
}

.directions-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* ============= /DIRECTION ============== */

/* ============= TEAM ============== */

.team {
  background: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text-box {
  padding: 32px 0;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--dark);
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-soc-item {
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
}

.team-soc-link {
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  fill: var(--light-color);
  transition: background-color var(--transition-dur-and-func);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

/* ============= /TEAM ============== */

/* ============= CUSTOMERS ============== */

.customer-list {
  display: flex;
  gap: 24px;
}

.customer-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customer-icon {
  fill: currentColor;
}

/* ============= /CUSTOMERS ============== */

/* ============= FOOTER ============== */

.page-footer {
  background: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: var(--light-color);
  transition: color var(--transition-dur-and-func);
}

.footer-logo-text:hover,
.footer-logo-text:focus {
  color: var(--primary-color);
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--light-color);
}

.footer-soc {
  margin-right: 80px;
}

.footer-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  fill: var(--light-color);
  transition: background-color var(--transition-dur-and-func);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: var(--light-color);
}

.footer-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.subscribe-form-input::placeholder {
  color: var(--white);
}

.footer-subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
  background-color: var(--accent-color);
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* ============= /FOOTER ============== */

/* ============ PORTFOLIO============== */

.projects {
  background: var(--white);
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.filter-item {
}

.filter-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: var(--primary-color);
  background-color: var(--light-color);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.project-link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px 32px;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--light-color);
  background-color: var(--primary-color);
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0%);
}

.project-text-box {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.project-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--dark);
  margin-bottom: 8px;
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--text-color);
}

/* ============ BACKDROP ============== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ============ /BACKDROP ============== */

/* ============ MODAL WINDOW ============== */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--transition-dur-and-func);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
  fill: var(--white);
  border: none;
}

.close-btn-icon {
  fill: var(--dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
  fill: var(--white);
}

/* ============ /MODAL WINDOW ============== */

/* ============ MODAL FORM ============== */

.review-form-container {
  margin-bottom: 8px;
}

.review-form-field {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--color-icon);
  margin-bottom: 4px;
}

.review-form-description {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark);
  margin-bottom: 16px;
}

.form-input-box {
  position: relative;
}

.review-form-input {
  display: block;
  padding-left: 38px;
  font-size: 18px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-dur-and-func);
}

.review-form-input:focus {
  border-color: var(--primary-color);
}

.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--dark);
  transition: fill var(--transition-dur-and-func);
}

.review-form-input:focus + .review-form-input-icon {
  fill: var(--primary-color);
}

.review-message-container {
  margin-bottom: 16px;
}

.review-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition-dur-and-func);
}

.review-form-message:focus {
  border-color: var(--primary-color);
}

.form-checkbox-container {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--color-icon);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked + .review-form-checkbox-label .checkbox-label {
  background-color: var(--accent-color);
  fill: var(--light-color);
  border: none;
}

.review-form-policy-link {
  color: var(--primary-color);
}

.review-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}

/* ============ /MODAL FORM ============== */
