/* ===================== MOBILE ======================= */

@media screen and (max-width: 767px) {
  .customer-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }

  .customer-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
  }

  .customer-link {
    width: 100%;
    height: 100%;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-icon);
    border: 1px solid var(--color-icon);
    border-radius: 4px;
  }

  .customer-icon {
    width: 110px;
    fill: currentColor;
  }
}

/* ===================== /MOBILE ======================= */

/* ===================== TABLET ======================= */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .customer-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .customer-item {
    width: calc((100% - 24 * 2) / 3);
    height: 88px;
  }

  .customer-link {
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-icon);
    border: 1px solid var(--color-icon);
    border-radius: 4px;
  }

  .customer-icon {
    fill: currentColor;
  }
}

/* ===================== /TABLET ======================= */

/* ===================== DESKTOP ======================= */

@media screen and (min-width: 1158px) {
  .customer-list {
    display: flex;
    gap: 24px;
  }

  .customer-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  .customer-link {
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-icon);
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    transition: color var(--transition-dur-and-func),
      border-color var(--transition-dur-and-func);
  }

  .customer-link:hover,
  .customer-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }

  .customer-icon {
    fill: currentColor;
  }
}

/* ===================== /DESKTOP ======================= */
