/* ===================== MOBILE ======================= */

@media screen and (max-width: 767px) {
  .directions {
    display: none;
  }
}

/* ===================== /MOBILE ======================= */

/* ===================== TABLET ======================= */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .directions {
    display: none;
  }
}

/* ===================== /TABLET ======================= */

/* ===================== DESKTOP ======================= */

@media screen and (min-width: 1158px) {
  .directions {
    padding-top: 0;
  }

  .directions-list {
    display: flex;
    gap: 24px;
  }

  .directions-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

/* ===================== /DESKTOP ======================= */
